page-quotes {
    .author{
        color:#7e7e7e;
        text-align: right;
        margin:0;
        padding:0;

        &:before {
            content: '- ';
        }
    }

   
}
 .alert div.alert-button-group {
       justify-content: center;
        
    }